Pods/
TestAppForVogelAG.xcworkspace/xcshareddata/
TestAppForVogelAG.xcworkspace/contents.xcworkspacedata
TestAppForVogelAG.xcodeproj/xcuserdata/
TestAppForVogelAG/Others/R.generated.swift
Podfile.lock
TestAppForVogelAG.xcworkspace/xcuserdata/